//Colors
$white:#fff;
$gray-darker:#353739; //footer background
$gray-dark:#767676; //header text
$gray:#999999; //blog date text
$gray-light:#d4d4d4; //footer text
$gray-lighter:#f5f4f2; //icon background(about section)
$blue:#25cbf5; //blue button

//Scaffolding
$body-bg:$white;
$text-color:$gray-dark;
$link-color:$gray-dark;
$link-hover-color:$blue;
$link-hover-decoration:none;

//Typography
$font-family-base:'lato', sans-serif;
$font-family-headings:'montserrat', serif;
$font-size-base: 14px;
$font-size-h1:4em;
$font-size-h2:2em;
$font-size-h3:1.3em;
$font-size-h4:1em;
$line-height-base: 1.428571429;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color:$gray-dark;

//Buttons
$btn-font-family: 'Montserrat',sans-serif;
$btn-font-size:.8em;
$btn-font-weight: 200; 

//Navbar
$navbar-default-bg:$white;
$navbar-default-font-family: $font-family-headings;
$navbar-default-link-color: $gray-dark;
$navbar-default-link-hover-color: $blue;
$navbar-brand-color: $gray-dark;